@import "../../../../design/variables.scss";
.input-excercise-list {
  margin: auto;
  max-width: 70%;
  > .item-list {
    margin: 0;
    max-width: initial;
    display: flex;
    flex-direction: row;
    p {
      color: $secondaryTextColor;
      flex: 1;
      width: 90%;
    }
    i {
      color: $secondaryTextColor;
      cursor: pointer;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
