@import "./design/variables.scss";
.App {
  text-align: center;
  background-color: $bgColor;
  color: $pageColor;
}
p {
  color: $pageColor;
  margin: 0;
}
span {
  color: $pageColor;
}
a {
  color: $pageColor;
}

.App-logo {
  height: 40vmin;
}

.main-component {
  min-height: 100vh;
  .max-size {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.fallback {
  min-height: 100vh;
  min-width: 100vw;
}
.breadcumb {
  margin-right: 5px;
}

bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: $cardColor;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-overlay {
  background: $cardColor;
}
